@model List<CheckpointPass>

<!--[if lte IE 9]>
    <div class="old_ie_wrapper">
<!--<![endif]-->
<p>Всього записів 1 000 000, але відображаються тільки перші 100.</p>

<table class="fixed_headers">
    <thead>
        <tr>
            <th>Номер Гонщика</th>
            <th>Номер КТ</th>
            <th>Час проходження КТ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.RacerId </td>
                <td>@r.CheckpointId</td>
                <td>@r.Time.ToString()</td>
            </tr>
        }
    </tbody>
</table>

<!--[if lte IE 9]>
    </div>
<!--<![endif]-->


<style>
    .fixed_headers {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

        .fixed_headers th {
            text-decoration: underline;
        }

        .fixed_headers th,
        .fixed_headers td {
            padding: 5px;
            text-align: left;
        }

        .fixed_headers td,
        .fixed_headers th {
            min-width: 200px;
        }

            .fixed_headers td:last-child,
            .fixed_headers th:last-child {
                width: 100%;
            }

        .fixed_headers thead {
            background-color: #333;
            color: #FDFDFD;
        }

            .fixed_headers thead tr {
                display: block;
                position: relative;
            }

        .fixed_headers tbody {
            display: block;
            overflow: auto;
            width: 100%;
            height: 300px;
        }

            .fixed_headers tbody tr:nth-child(even) {
                background-color: #DDD;
            }

    .old_ie_wrapper {
        height: 300px;
        width: 750px;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .old_ie_wrapper tbody {
            height: auto;
        }
</style>