@using RacingSite.Hubs
@model object

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/@HubConstants.RaceHub",
                { transport: signalR.HttpTransportType.WebSockets | signalR.HttpTransportType.LongPolling })
            .configureLogging(signalR.LogLevel.Error)
            .build();

        connection.on('@HubConstants.OnRaceInit', data => onRaceStart(data));
        connection.on('@HubConstants.OnCheckpointPassed', data => onCheckpointPassed(data));
        connection.start().then(() => console.log("Connected"));

        function onRaceStart(race) {
            console.log(race);
            $('#race-title').text(`Real time. You are watching race '${race.name}'`);
            let table = createTable();
            table.appendTo('#dynamicTable');
        }

        function onCheckpointPassed(data) {
            console.log(data);
        }

        function createTable() {
            var table = $('<table>');
            table.append('<thead>').children('thead').append('<tr />').children('tr')
                .append('<th>A</th><th>B</th><th>C</th><th>D</th>');

            var $tbody = table.append('<tbody />').children('tbody');

            $tbody.append('<tr />').children('tr:last')
                .append("<td>val 1</td>")
                .append("<td>val 2</td>")
                .append("<td>val 3</td>")
                .append("<td>val 4</td>");

            return table;
        }

    </script>
}

<h1 id="race-title"> </h1>

<div id="dynamicTable">

</div>